<div class="user-nav sub-header">

	<ul class="user-info">
		<li>
			<img class="profile-pic"
					 src="<%= currentUser.escape("filepicker_url") %>">
		</li>
		<li>
			<form class="add-pic">
	      <input
	        type="filepicker"
	        name="user[filepicker_url]"
	        data-fp-mimetype="image/*"
	        data-fp-services="COMPUTER"
					onchange="Memgrow.Models.user.saveUser(event)">
		</li>

  	<li><h1 class="username-display"><%= currentUser.escape("username") %></h1></li>

    <li class="right"><h3><%= friends.length %><a href="#/friends"> Friends</a></h3>
			<form> </form>
			<form class="find-friends" autocomplete="off">
				<input type="text" name=search[query] placeholder="find friends...">
				<input type="submit" value="找">
			</form>
			<div class="search-preview hidden"></div>
		</li>
    <li class="icon right">
			<img src="<%= currentUser.get("friends_pic") %>"
				height="60" width="60">
		</li>

    <li class="right"><h3><%= currentUser.escape("cards_count") %> Words</h3></li>
    <li class="icon right">
			<img src="<%= currentUser.get("words_pic") %>"
				height="60" width="60">
		</li>

    <li class="right"><h3><%= currentUser.escape("points") %> Points</h3></li>
    <li class="icon right">
			<img src="<%= currentUser.get("points_pic") %>"
				height="60" width="60">
		</li>
  </ul>
</div>

<div class="stats">

  <h1><img src="<%= currentUser.get("stats_pic") %>" height="60" width="60">
		Stats</h1>

  <h3>Cards Studied:</h3>
  <p><%= currentUser.get("cards_studied") %></p>

  <h3>Errors:</h3>
  <p><%= currentUser.get("study_errors") %></p>

  <h3>Accuracy:</h3>

	<% var percentage = Math.round(((currentUser.get("cards_studied") -
		currentUser.get("study_errors")) /
		currentUser.get("cards_studied") * 100)) %>

	<% if (isNaN(percentage)) { %>
  <p><%= 0 %>%</p>
	<% } else { %>
	<p><%= percentage %>%</p>
	<% } %>

</div>

<div class="user-courses">

  <h1><img src="<%= currentUser.get("courses_pic") %>" height="60" width="60">
		<%= currentUser.escape("username") %>'s Courses</h1>
  <ul class="user-courses">
    <% courses.each(function(course) { %>
      <li>
        <h3>
          <a href="#/courses/" + course.escape("id")><%= course.get("title") %></a>
          | <%= course.get("category") %>
        </h3>
				<a class="study" href="<%= "#/study/" + course.escape("id") %>">
					Study (<%= course.dueCards(currentUser).length %>)
				</a>
      </li>
    <% }) %>
  </ul>
</div>

<div class="leaderboard">
  <h1><img src="<%= currentUser.get("leaders_pic") %>" height="60" width="60">
		Leaders</h1>
  <ol class="leaders">
    <% leaders.forEach(function(leader, index) { %>
    <li>
			<a href="#/users/<%= leader.get("id") %>">
				<img class="mini-profile-pic"
						 src="<%= leader.escape("filepicker_url") %>">
				<%= leader.escape("username") %>
			</a>
			(<%= leader.escape("points") %>)
			<% if (leader===currentUser) { %>
				<div class="fb-share-button"
						 data-href="https://memgrow.herokuapp.com"
						 data-layout="button"></div>
			<% } %>
		</li>
    <% }) %>
  </ol>

</div>
