<div class="user-nav sub-header">

	<ul class="pic-name">
		<li>
			<img class="profile-pic"
					 src="<%= current_user.escape("filepicker_url") %>">
		</li>
		<li>
			<form class="add-pic">
	      <input
	        type="filepicker"
	        name="user[filepicker_url]"
	        data-fp-mimetype="image/*"
	        data-fp-services="COMPUTER"
					onchange="Memgrow.Models.user.saveUser(event)">
		</li>

  	<li><h1 class="username-display"><%= current_user.escape("username") %></h1></li>
	</ul>

  <ul class="user-info">
    <li class="icon">
			<img src="<%= current_user.get("friends_pic") %>"
				height="60" width="60">
		</li>
    <li><h3><%= friends.length %><a href="#/friends"> Friends</a></h3>
			<form> </form>
			<form class="find-friends">
				<input type="text" name=search[query] placeholder="find friends...">
				<input type="submit" value="找">
			</form>
		</li>
    <li class="icon">
			<img src="<%= current_user.get("words_pic") %>"
				height="60" width="60">
		</li>
    <li><h3><%= current_user.escape("cards_count") %> Words</h3></li>
    <li class="icon">
			<img src="<%= current_user.get("points_pic") %>"
				height="60" width="60">
		</li>
    <li><h3><%= current_user.escape("points") %> Points</h3></li>
  </ul>
</div>

<div class="stats">

  <h1><img src="<%= current_user.get("stats_pic") %>" height="60" width="60">
		Stats</h1>

  <h3>Cards Studied:</h3>
  <p><%= current_user.get("cards_studied") %></p>

  <h3>Errors:</h3>
  <p><%= current_user.get("study_errors") %></p>

  <h3>Accuracy:</h3>

	<% var percentage = Math.round(((current_user.get("cards_studied") -
		current_user.get("study_errors")) /
		current_user.get("cards_studied") * 100)) %>

	<% if (isNaN(percentage)) { %>
  <p><%= 0 %>%</p>
	<% } else { %>
	<p><%= percentage %>%</p>
	<% } %>

</div>

<div class="user-courses">

  <h1><img src="<%= current_user.get("courses_pic") %>" height="60" width="60">
		<%= current_user.escape("username") %>'s Courses</h1>
  <ul class="user-courses">
    <% courses.each(function(course) { %>
      <li>
        <h3>
          <a href=""><%= course.get("title") %></a>
          | <%= course.get("category") %>
        </h3> 
				<a class="study" href="<%= "#/study/" + course.escape("id") %>">
					Study (<%= course.dueCards(current_user).length %>)
				</a>
      </li>
    <% }) %>
  </ul>
</div>

<div class="leaderboard">
  <h1><img src="<%= current_user.get("leaders_pic") %>" height="60" width="60">
		Leaders</h1>
  <ol class="leaders">
    <% leaders.forEach(function(leader, index) { %>
    <li>
			<a href="users/<%= leader.get("id") %>"><%= leader.escape("username") %></a>
			(<%= leader.escape("points") %>)
			<% if (leader===current_user) { %>
				<div class="fb-share-button" 
						 data-href="https://memgrow.herokuapp.com" 
						 data-layout="button"></div>
			<% } %>
		</li>
    <% }) %>
  </ol>

</div>
