<div class="user-nav sub-header">
	<h1><%= @user.username %></h1>
  <ul class="user-info">
    <li><h3><%= @user.friends.count %> Friends</h3></li>
    <li><h3><%= @cards_count %> Words</h3></li>
    <li><h3><%= @user.points %> Points</h3></li>

		<% unless current_user.friends.include?(@user) || current_user == @user %>
    <li>
      <form class="create-friend" action="<%= friendships_url %>" method="Post">
        <%= auth_token %>
				<input type="hidden" name="id", value="<%= @user.id %>">
        <input type="submit" value="Add Friend">
      </form>
    </li>
		<% end %>
  </ul>
</div>

<div class="stats">
  <h3>Stats</h3>
  <% if current_user.friends.include?(@user) || current_user == @user %>
  <%= render partial: "stats", locals: { user: @user,
                                         cards_studied: @cards_studied,
                                         study_errors: @study_errors } %>
  <% else %>
  <%= render "blocked" %>
  <% end %>
</div>

<div class="leaderboard">
  <h3>Leaderboard</h3>
</div>

<div class="user-courses">
  <h2><%= @user.username %>'s Courses</h2>
  <ul class="user-courses">
    <% @user.courses.each do |course| %>
    <li>
      <%= course.title %>
      <a href="<%= course_card_url(course.id, course.cards.first.id) %>">Study</a>
    </li>
    <% end %>
  </ul>
</div>