<div class="friends-index sub-header">
  <h1><%= @user.username %>'s Friends</h1>
</div>

<ul class="friends-list">
  <% @user.friends.each do |friend| %>
  <li>
		<a href="<%= user_url(friend) %>"><%= friend.username %></a>

    <a href="/users/<%= friend.id %>">
      <img src="<%= friend.filepicker_url %>">
    </a>

		<% friendship =
      Friendship.find_by_requester_id_and_requestee_id(@user.id, friend.id) ||
      Friendship.find_by_requester_id_and_requestee_id(friend.id, @user.id) %>

		<form method="Post" action="<%= friendship_url(friendship.id) %>">
			<%= auth_token %>
			<input type="hidden" name="_method" value="Delete">
			<input type="submit" value="Unfriend">
		</form>
	


	</li>
  <% end %>
</ul>
