<div class="content">
<div class="courses-header sub-header">
  <h1>Courses</h1>
</div>

<div class="categories">
  <h3>Categories</h3>
  <ul class="category-list">
    <% @categories.each do |category| %>
    <li><%= category %></li>
    <% end %>
  </ul>
</div>

<div class="course-list">
  <h2>All Courses</h2>

  <ul class="course-list">
    <% @courses.each do |course| %>
      <li>
        <a href="<%= course_url(course) %>">
          <img src="<%= course.filepicker_url %>">
        </a>
        <h4><%= course.title %></h4>
        <% unless current_user.courses.include?(course) %>
        <form class="new-enrollment" action="<%= enrollments_url %>" method="Post">
          <%= auth_token %>

          <input type="hidden"
                 name="enrollment[course_id]"
                 value="<%= course.id %>">
          <input type="submit" value="Add to Courses">
        </form>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>
</div>
