<div class="show-course-header">
  <h1><%= @course.title %></h1>
  <h3><%= @course.category %></h3>
  <% if current_user.id == @course.author_id %>
    <%= button_to "Delete",
    course_url(@course),
    method: "delete" %>
  <% end %>

  <% unless current_user.courses.include?(@course) %>
    <form class="new-enrollment" action="<%= enrollments_url %>" method="Post">
      <%= auth_token %>

      <input type="hidden"
             name="enrollment[course_id]"
             value="<%= @course.id %>">
      <input type="submit" value="Add to Courses">
    </form>
  <% end %>
</div>

<div class="stats">stats</div>
<div class="course-cards">
  <h2>Cards:</h2>
<!-- here is where I will insert the course's cardsIndex-->
</div>