<div class="show-course-header sub-header">
  <h1><%= @course.title %></h1>
  <h3><%= @course.category %></h3>
  <% if current_user.id == @course.author_id %>
    <%= button_to "Delete",
    course_url(@course),
    method: "delete" %>
  <% end %>

  <% unless current_user.courses.include?(@course) %>
    <form class="new-enrollment" action="<%= enrollments_url %>" method="Post">
      <%= auth_token %>

      <input type="hidden"
             name="enrollment[course_id]"
             value="<%= @course.id %>">
      <input type="submit" value="Add to Courses">
    </form>
  <% end %>
</div>

<div class="comments">
  <h2>Student Thoughts:</h2>
  <%= render partial: 'comments/index', locals: { comments: @comments } %>
  <%= render partial: 'comments/new' , locals: { course: @course } %>
</div>
<div class="course-cards">
    <%= render partial: "cards/index", locals: { cards: @cards } %>
</div>