<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#">
<head>
	
	<meta property="og:title" content="Memgrow" />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="https://memgrow.herokuapp.com" />
	<meta property="og:image" content="https://fbexternal-a.akamaihd.net/safe_image.php?d=AQBPlnu6ngduBepS&url=https%3A%2F%2Fmemgrow.herokuapp.com%2Fassets%2Fspeech2-cb0e57b8286e605dbbba175b840ae90d.png" />
	<meta property="og:description" content="I've moved up to the leaderboard at Memgrow. Come study with me!" />
	
  <title>Memgrow</title>
	
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>
	<%= javascript_include_tag "application" %>
	
  <link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>
 <!--  <script type="text/javascript"
     src="//api.filepicker.io/v1/filepicker.js"></script> -->

  <script>filepicker.setKey("ACAfiCjL6TjGMn7p7COUcz");</script>
	 
	<script type="text/javascript">
	    if (window.location.hash && window.location.hash == '#_=_') {
	        window.location.hash = '';
	    }
	</script>
</head>
<body>
	
	<div id="fb-root"></div>
	<script>(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) return;
	  js = d.createElement(s); js.id = id;
	  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=1611328032428017&version=v2.0";
	  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));</script>

	<div class="header">
		<span class="logo">
			<% if current_user %>
			<a href="/dashboard#"><%= image_tag "Memgrow-logo.png", size: "250x75" %></a>
			<% else %>
			<a href="/"><%= image_tag "Memgrow-logo.png", size: "250x75" %></a>
			<% end %>
		</span>



    <% if current_user %>
    <ul class="navbar">

      <li class="nav-button" id="logout"><%= button_to "Log out",
          session_url,
          method: :delete,
          class: "log-out" %></li>

      <li class="nav-button">
        <a href="#"><%=current_user.username %></a>
      </li>


      <li class="nav-button"><a href="#/courses/new">Create Course</a></li>

			<li class="nav-button"><a href="#/courses">Browse</a></li>

      <li class="nav-button" id="notifications">
        Notifications
        <p class="notifications">
          <%= current_user.friends_awaiting_acceptance.count %>
        </p>
        <div class="hidden dropdown">
          <ul>
            <% current_user.friends_awaiting_acceptance.each do |requester| %>
              <li>
                <%= requester.username %> wants to be your friend!
                  <button class="accept-friend-request"
                          data-id="<%= requester.id %>">
                    Accept
                  </button>
                  <button class="decline-friend-request"
                          data-id="<%= requester.id %>">
                    Decline
                  </button>
              </li>
            <% end %>

						<% if current_user.friends_awaiting_acceptance.count == 0 %>
							<li>Sorry, you have no friend requests right now =(</li>
						<% end %>
          </ul>
        </div>
      </li>
    </ul>
    <% else %>
		<ul class="navbar">
			<li class="nav-button">
        <a href="<%= new_session_url %>">Log In</a
      </li>
			<li class="nav-button"><a href="<%= new_user_url %>">Sign Up</a></li>
		</ul>

    <div class="arrow-up"></div>
    <div class="tool-tip">Follow me to guest sign in!</div>
    <% end %>

	</div>

	<% if flash[:errors] %>
	  <ul class="error-messages">
	    <% flash[:errors].each do |error| %>
	      <li><%= error %></li>
	    <% end %>
	  </ul>
	<% end %>

<%= yield %>

	<div class="footer">
		<div class="logo">
			<a href="/"><%= image_tag "Memgrow-logo.png", size: "300x90" %></a>
		</div>
		
		&copy; <a href="http://gbethea.com">Gary Bethea</a>
	</div>
</body>
</html>
