<!DOCTYPE html>
<html>
<head>
  <title>Memgrow</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<div class="header">
		<span class="logo">
			<a href="/"><%= image_tag "Memgrow-logo.png", size: "125x125" %></a>
		</span>

    <% if current_user %>
      <%= button_to "Log out",
          session_url,
          method: :delete,
          class: "log-out" %>
    <% else %>
		<ul class="navbar">
			<li><a href="<%= new_session_url %>">Log In</a></li>
			<li><a href="<%= new_user_url %>">Sign Up</a></li>
		</ul>
    <% end %>

	</div>

<%= yield %>

	<div class="footer">
		<div class="logo">
			<a href="/"><%= image_tag "Memgrow-logo.png", size: "125x125" %></a>
		</div>
	</div>

</body>
</html>
