<!DOCTYPE html>
<html>
<head>
  <title>Memgrow</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>
	<%= javascript_include_tag "application" %>
  <link href='http://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>
 <!--  <script type="text/javascript"
     src="//api.filepicker.io/v1/filepicker.js"></script> -->

  <script>filepicker.setKey("ACAfiCjL6TjGMn7p7COUcz");</script>
</head>
<body>

	<div class="header">
		<span class="logo">
			<a href="/"><%= image_tag "Memgrow-logo.png", size: "250x75" %></a>
		</span>



    <% if current_user %>
    <ul class="navbar">

      <li class="nav-button" id="logout"><%= button_to "Log out",
          session_url,
          method: :delete,
          class: "log-out" %></li>

      <li class="nav-button">
        <a href="<%= dashboard_url %>"><%=current_user.username %></a>
      </li>


      <li class="nav-button"><a href="#/courses/new">Create Course</a></li>

			<li class="nav-button"><a href="#/courses">Browse</a></li>

      <li class="nav-button" id="notifications">
        Notifications
        <p class="notifications">
          <%= current_user.friends_awaiting_acceptance.count %>
        </p>
        <div class="hidden dropdown">
          <ul>
            <% current_user.friends_awaiting_acceptance.each do |requester| %>
              <li>
                <%= requester.username %> wants to be your friend!
                  <button class="accept-friend-request"
                          data-id="<%= requester.id %>">
                    Accept
                  </button>
                  <button class="decline-friend-request"
                          data-id="<%= requester.id %>">
                    Decline
                  </button>
              </li>
            <% end %>

						<% if current_user.friends_awaiting_acceptance.count == 0 %>
							<li>Sorry, you have no friend requests right now =(</li>
						<% end %>
          </ul>
        </div>
      </li>
    </ul>
    <% else %>
		<ul class="navbar">
			<li class="nav-button">
        <a href="<%= new_session_url %>">Log In</a
      </li>
			<li class="nav-button"><a href="<%= new_user_url %>">Sign Up</a></li>
		</ul>

    <div class="arrow-up"></div>
    <div class="tool-tip">Follow me to guest sign in!</div>
    <% end %>

	</div>

	<% if flash[:errors] %>
	  <ul class="error-messages">
	    <% flash[:errors].each do |error| %>
	      <li><%= error %></li>
	    <% end %>
	  </ul>
	<% end %>

<%= yield %>

	<div class="footer">
		<div class="logo">
			<a href="/"><%= image_tag "Memgrow-logo.png", size: "300x90" %></a>
		</div>

	</div>
</body>
</html>
